.btn-primary {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;

  color: #DBFFFF;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,40,142,1) 72%, rgba(9,9,121,1) 81%, rgba(0,212,255,1) 100%);

  border: none;
  border-radius: 8px;
}
